@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

th,
td {
  text-align: center;
  padding: 8px 12px;
  border: 1px solid #ddd;
}

@layer utilities {
  .word-space-sm {
    word-spacing: 0.125rem;
  }

  .word-space-md {
    word-spacing: 0.25rem;
  }

  .word-space-lg {
    word-spacing: 0.5rem;
  }
}

@layer components {
  .btn {
    @apply w-28 p-2 rounded-md font-semibold cursor-pointer;
  }
  .btn-danger {
    @apply bg-red-300;
  }
  .btn-primary {
    @apply bg-indigo-500 text-white;
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
